*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    height: 550px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    overflow: auto;
    margin-top: 25px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #555 #f1f1f1; /* For Firefox */
}
.muni {
    height: 550px;
    width: 900x;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    margin-top: 25px;
    overflow: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #555 #f1f1f1; /* For Firefox */
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 1.0px;
    line-height: 1.6; /* Adjust the line-height value as needed */
    padding: 15px; /* Avoid duplicating the padding property */
}


form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Black background with opacity */
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff; /* Text color */
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 30px;
    margin-left: 100px;
    width: 50%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.container::before {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
